<h4>{{ post.title }}</h4>
<span>{{ post.createdAt | date:'dd/MM/yyyy' }}</span>
<button class="btn btn-danger pull-right" (click)="onDeletePost(post)">
  Supprimer post
</button>
<p>{{ post.content }}</p>
<button class="btn btn-success"
        (click)="updateLoveIts(1)">love it!</button>
<button class="btn btn-danger"
        (click)="updateLoveIts(-1)">don't love it!</button>
