<ul class="list-group">
    <li  *ngFor="let post of posts"
    [ngClass]="{'list-group-item': true,
                    'list-group-item-success': post.loveIts > 0,
                    'list-group-item-danger': post.loveIts < 0}">
        <app-post-list-item [post]="post"></app-post-list-item>
      </li>
</ul>
